<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.nbostech.APIStarters</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb596571337165721</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.nbostech.APIStarters</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.nbostech.APIStarters</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>oauth-swift</string>
				<string>com.nbostech.APIStarters</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.312504163741-ljckc0mtie9icg32rkj55pvvtm5fgosf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>li4521501</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>instagram://app</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>e4e66eab1958622ab4d6ad4788cacfac3f9c19fd</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>IRCaQB8CRpgO3yJvveTYefUU5</string>
					<key>consumerSecret</key>
					<string>yoCLVuhrI5zCyq3AcINS3skRuIjPuJTQt8C7glWbbxsHrMpyna</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>fUs0SZi3ZHrKTWamffDIV5jb3</string>
					<key>consumerSecret</key>
					<string>J5FlL2vay2wtJ4VYXW2VDRG0Fp4GlEv5nSTUVnFKZT7rZFy948</string>
				</dict>
				<key>KitName</key>
				<string></string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>IRCaQB8CRpgO3yJvveTYefUU5</string>
					<key>consumerSecret</key>
					<string>yoCLVuhrI5zCyq3AcINS3skRuIjPuJTQt8C7glWbbxsHrMpyna</string>
				</dict>
				<key>KitName</key>
				<string>Digits</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>596571337165721</string>
	<key>LIAppId</key>
	<string>4521501</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>WavelabsAPISettings</key>
	<dict>
		<key>WAVELABS_BASE_URL</key>
		<string>http://api.qa1.nbos.in/</string>
		<key>WAVELABS_CLIENT_ID</key>
		<string>sample-app-client</string>
		<key>WAVELABS_CLIENT_SECRET</key>
		<string>sample-app-secret</string>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbauth2</string>
	</array>
</dict>
</plist>
